{% extends 'product/base.html' %}


{% block content %}

<div class="row">
  
  <h2>GOGREENSELECTED</h2>
  <p>This can be a sign of under watering or overwatering. Check the instructions that came with the plant to learn how often your plant needs to be watered. add line : gogreenselected </p>
  <!--img src = "https://images.unsplash.com/photo-1495908333425-29a1e0918c5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" width ="400"-->

  <!-- LightWidget WIDGET -->
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/fe14231e41155b78bf294bf82e87fa89.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

</div>



{% endblock content%}