{% extends 'product/base.html' %}


{% block content %}

<div class="row">
      <div class="col-md-4">
        <h2>Plant</h2>
        <p>This can be a sign of under watering or overwatering. Check the instructions that came with the plant to learn how often your plant needs to be watered. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Pot</h2>
        <p>Usually a sign of an under watered plant or roots that have become overly dry. Consider watering your plant more regularly to bring it back to life.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Accessories</h2>
        <p>Spots on your houseplants’ leaves are often caused when water droplets land on the leaves. To prevent these spots from appearing you should water the soil.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
</div>

{% endblock content%}