{% extends 'product/base.html' %}


{% block content %}

{% load static %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  .container {
    position: relative;
    text-align: center;
    color: rgb(43, 43, 43);
  }
 
  .centered {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
  </style>
  </head>

<div class="container">
  <img src="{% static '/images/Untitled design.png' %}" alt="Snow" style="width:100%;">
  <div class="centered"><h2 class="display-3">Hello, Plantlover!</h2><br><a class="btn btn-secondary btn-lg" style='background-color: #142B1E;' href="https://bit.ly/2VRawhi"
    role="button">Add line &raquo;</a></div>
  </div>
    <br>
    <br>
    <br>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Plant</h2>
      <p>แหล่งรวมต้นไม้ ให้คุณได้เลือกสรร</p>
      <a href="{% url 'plant-page' %}">
      <img src="{% static '/images/Untitled design (3).png' %}" width="100%"></a>

    </div>
    <div class="col-md-4">
      <h2>Pot</h2>
      <p>แหล่งรวมต้นไม้ ให้คุณได้เลือกสรร</p>
      <a href="{% url 'pot-page' %}">
      <img src="{% static '/images/Untitled design (2).png' %}" width="100%"></a>
    </div>
    <div class="col-md-4">
      <h2>Accessories</h2>
      <p>แหล่งรวมต้นไม้ ให้คุณได้เลือกสรร</p>
      <img src="{% static '/images/Untitled design (1).png' %}" width="100%">
    </div>
  </div>
</div>

  {% endblock content%}