{% extends 'product/base.html' %}


{% block content %}

<div class="row">
	    <h2>POT </h2>&nbsp;


        <p>This can be a sign of under watering or overwatering. </p>

        <p>Check the instructions that came with the plant to learn how often your plant needs to be watered. add line : gogreenselected </p>

        <img src = "https://images.unsplash.com/photo-1484811804487-a9881949ed6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80" width ="350">
        &nbsp;
        <img src = "https://images.unsplash.com/photo-1487268113661-a75c49688467?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEzMDA0fQ&auto=format&fit=crop&w=752&q=80" width ="350">
        &nbsp;
        <img src="https://images.unsplash.com/photo-1531761557059-2b2da2acab03?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" width="350">


        <!-- LightWidget WIDGET IG-->
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/fe14231e41155b78bf294bf82e87fa89.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

</div>



{% endblock content%}